.map {
  width: 100%;
  height: 100%;

  .mapboxgl-marker {
    padding-top: 1rem;

    &.selected,
    &:hover {
      z-index: 2;

      circle {
        fill: var(--secondary-color);
      }
    }
  }

  .mapboxgl-popup {
    .mapboxgl-popup-content {
      background-color: var(--primary-color);
      color: var(--light-color);
      padding: .5rem;

      p {
        font-size: .75rem;
        margin: 0;
      }
    }

    .mapboxgl-popup-tip {
      display: none;
    }
  }
}
